@import '../variables';
@import '../mixins/mixins';

  ion-item {
    --min-height: 0px !important;
    label {
      display: block !important;
    }
    &.item-mh-40 {
      --min-height: 40px;
    }
    // checkbox
    &.item-checkbox,
    &.item-radio {
      --min-height: 24px;/* 40px; */
      --max-height: 24px;
      padding-top: 16px !important;
      padding-bottom: 16px !important;

      ion-label {
        margin: 0px 8px 0px 0px !important;
      }
    }
    &.item-radio-modal {
      --min-height: auto !important;
      padding-top: 16px !important;
      padding-bottom: 16px !important;
      margin-bottom: 0 !important;

      ion-label {
        margin: 0px 8px 0px 0px !important;
      }
    }
  }
